<!-- <div id="deneme" style="background-repeat: no-repeat;" [style.background-image]="'url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9o6ZAeLj4zAUFkmXCO5E3gwhl2ozP9WU54w&usqp=CAU)'"> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- </div> -->
<ngx-spinner  size="default" name="s1" type="ball-atom"></ngx-spinner>
<ngx-spinner  size="default" name="s2" type="ball-scale-multiple"></ngx-spinner>
<ngx-spinner  size="default" name="s3" type="ball-spin-clockwise-fade-rotating"></ngx-spinner>
<ngx-spinner name="s4" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffbd00" type = "ball-pulse" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
